@-webkit-keyframes movement {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes movement {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes movement {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

body {
  padding: 0;
  overflow: hidden;
  margin: 0;
}

#animationWindow {
  z-index:0;
  margin: 0;
  width:100vw;
  height:100vh;
  background: linear-gradient(135deg, rgba(251, 195, 161, 0.8) 14%,
                                      rgba(246, 243, 160, 0.8) 27%,
                                      rgba(161, 221, 251, 0.8) 41%,
                                      rgba(182, 160, 242, 0.8) 57%,
                                      rgba(243, 159, 214, 0.8) 71%,
                                      rgba(251, 195, 161, 0.8) 87%);
  //background: linear-gradient(135deg, #fbc3a1 14%,#f6f3a0 27%,#a1ddfb 41%,#b6a0f2 57%,#f39fd6 71%,#fbc3a1 87%);
  -webkit-animation: movement 60s ease-out infinite;
	-moz-animation: movement 60s ease-out infinite;
	animation: movement 60s ease-out infinite;
  background-size: 400% 400%;
}

@media screen and (orientation: portrait) {
  #debug {
    background-color:yellow;
  }
}


@media screen and (orientation: landscape) {
  #debug {
    background-color:blue;
  }
}

#newGame {
  transition: all 0.5s ease;
	display: block;
	z-index: 1000;
	width: 125px;
	height: 50px;
	position: absolute;
	top: -125px;
	background-color: rgba(30,30,30,1);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
	color: white;
	text-align: center;
	left: calc(50vw - 62.55px);
	line-height: 3;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-weight: bold;
}

#newGame.active {
  top: calc(50vh - 30px);
}

#mainstage {
  border: 1px solid rgba(130,130,130,1);
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 5;
}

#debug {
  min-width: 50px;
  min-height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.slidezone {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  height: calc(100% - 50px);
  margin: 25 0 25 0;
  width: 50px;
  background-color: rgba(30, 30, 30, 0.1);
  color: rgba(30, 30, 30, 0.4);
  writing-mode: vertical-rl;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  line-height: 3;
  letter-spacing: 15px;
  text-orientation: upright;
  position: absolute;
  z-index: 0;
}

.slidezone.left {
  top: 0px;
  left: 25px;
}

.slidezone.right {
  top: 0px;
  left: calc(100% - 75px);
}

.scoreboard {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    transition: all 0.5s ease;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    width: 150px;
    font-weight: bold;
    color:rgba(0,0,0,0.5);
    text-align: center;
    left: calc(50vw - 75px);
}

.centerCircle {
  position: absolute;
	border: 1px solid rgba(130,130,130,1);
	width: calc(100vw / 20);
	height: calc(100vw / 20);
	border-radius: 180px;
	top: calc(100vh / 2 - (100vw / 20 / 2));
	left: calc(100vw / 2 - (100vw / 20 / 2));
}

.halfLine {
  height: calc(100vh - 70px);
	position: absolute;
	top: 35px;
	padding: 0;
	left: calc(100vw / 2);
	box-sizing: border-box;
	margin: 0;
	border: 0.5px solid rgba(130,130,130,1);
}

.scoreboard.highlight {
    transition: all 0.5s ease;
    z-index: 1000;
    top: 35px;
    color:white;
    background-color: rgba(30,30,30,1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
}

.scoreboard .score {
    display:inline-block;
    padding:5 15 5 15;
}

.covers {
  width:50vw;
  height:100vh;
  position: absolute;
  z-index:-1;
  background-position: center;
	background-size: cover;
}

.covers.arh {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) ), url("./backgroundImages/right.png");  
  left:50vw;
}

.covers.cph {
  background: linear-gradient(270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) ), url("./backgroundImages/left.png");
}

#menu {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: all 0.5s ease;
  position: absolute;
  top: calc(100vh - 20px);
  box-sizing: border-box;
  width: 150px;
  font-weight: bold;
  color:rgba(0,0,0,0.5);
  text-align: center;
  left: calc(50vw - 75px);
  cursor:pointer;
}

#menu.highlight {
  padding: 10px;
	transition: all 0.5s ease;
	z-index: 1000;
	top: calc(100vh - 250px);
	color: white;
  background-color: rgba(30,30,30,1);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
}

#menu ul li {
  list-style-type:none;
  text-align: center;
  padding-inline-start: 0px;
}

#menu ul {
  padding-inline-start: 0px;
  font-size: 15px;
}
 
#menu hr {
  border:0.5px solid grey;
}

#menu .prefix {
  color: grey;
}

.gameover {
  transition: all 0.5s ease;
  display:block;
  z-index: 1000;
  width:25vw;
  height: 200px;
  position: absolute;
  top:-350px;
  background-color: rgba(30,30,30,1);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
  color:white;
  text-align: center;
	line-height: 2;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.gameover.active {
  top: calc(50vh - 100px);
}

.emoji {
  font-size: 200%;
}

#goleft {
  left: calc(25vw - 12.5vw);
  transform: rotateZ(90deg);

}

#goright {
  left:calc(75vw - 12.5vw);
  transform: rotateZ(-90deg);
}
